# Telegram bot Token
TELEGRAM_TOKEN = "Aquí debes ingresar el Token entregado por el @BotFather de Telegram"

# python -c "import os; print(repr(os.urandom(32)));"
RANDOM_SALT = "Aquí debes incluir una clave secreta. Se sugiere el resultado de la ejecución de la línea 4"

#**** No modificar los siguientes campos *****#
#* Network *#

# Letra c, al inicio de todas las direcciones Chaucha
ADDRESS_PREFIX = 88

# Pago a minero
BASE_FEE = 0.01
MAX_FEE = 0.1

# Cantidad de ceros decimales o llamados satoshis
COIN = 1e8

# API URL
INSIGHT = 'https://explorer.cha.terahash.cl/'

# JSON Define
DEFINE = 'https://raw.githubusercontent.com/panterozo/api-chaucha/master/glosario.json'
