-i https://pypi.org/simple/
bitcoin==1.1.42
certifi==2020.12.5
cffi==1.14.5
chardet==3.0.4
cryptography==3.4.7
future==0.18.2
idna==2.8
pycparser==2.20
python-telegram-bot==11.1.0
redis==3.2.1
requests==2.22.0
urllib3==1.25.8
